.add-game-item-button {
  max-width: max-content;
  font-weight: bold;
  padding: 0.3rem;
  border-radius: 6px;
  cursor: pointer;
  color: #ffffff;
  background-color: #00a5d3;
  border: 3px solid;
  transition-duration: 0.3s;
}

.add-game-item-button:hover {
    background-color: #ffffff;
    color: #00a5d3
}
