/* Textbox styling- browser-specific, unfortunately */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  /* margin: 0; TODO is this needed? */
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.add-game-item {
  display: flex;
  justify-content: space-evenly;
}

.termination-buttons {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-left: 10%;
}