.game-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  /* border-radius: 12px; */
  background-color: #fff4ca;
  float: left;
  /* TODO I think this centers it properly. Revisit? */
  margin: 1rem;
  min-width: 730px;
}

/* 
    Not a fan of pre-configured div styling,
     but doing this so I can become more familiar
     with CSS syntax.
    (i.e. I would never use h2 in real life,
     seems better to custom-style a div's font styling)
*/
.game-item h2 {
  font-size: 1rem;
  /* flex: 1; */
  margin: 0 1rem;
  color: rgb(0, 0, 0);
}

.game-item__meta {
  border: 1px solid black;
  margin: 5px;
}

.game-item__calculated {
  /* font-size: 1rem; */
  font-weight: bold;
  border: 1px solid black;
  padding: 0.3rem;
  border-radius: 5px;
  margin: 2px;
}

/* TODO for different screen sizes */
/* @media (min-width: 580px) {
  .game-item__opponent {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .game-item__opponent h2 {
    font-size: 1.25rem;
  }

  .game-item__avg {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
} */
