.stat-tile {
  border: 2px inset rgb(228, 228, 228);
  background-color: rgb(238, 238, 238);
  margin: 10px;
}

.stat-tile__type {
  font-size: small;
  font-style: italic;
  font-weight: bold;
  color: rgb(201, 0, 34);
  /* transform: skew(-10deg); */
  position: absolute;
  /* left: 11; */
  padding-left: 2px;
  /* padding-top: 50px; */
}

.stat-tile__value {
  font-size: x-large;
  padding: 1rem;
}
