.add-game-item-form {
  padding: 1rem;
  padding-top: 1rem;
  background-color: #ffe6ca;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  /* TODO make it -1rem */
  margin: 1rem auto 0;
  width: 52%;
  z-index: -10;
}
