.season-summary {
    display: grid;
    row-gap: 1rem;
    background-color: #fff4ca;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    margin: 1rem 20%;
}

.season-summary__chart {
    background-color: #fffbe9;
    margin: 0 1rem 1rem 1rem;
    border: 1px ridge rgb(230, 229, 229);
}

.season-summary__filter-selects {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: auto;
}