.game-performance {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    justify-content: left;
    margin-left: 1rem;
    border-right: 1px solid #757575;
    padding-right: 3rem;
}

.game-performance__item {
    margin-top: auto;
    margin-bottom: auto;
}