.game-data {
  width: 280px;
  align-items: center;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  /* border-radius: 6px; */
  transform: skew(-10deg);
  margin: 0px 15px 0px 5px;
}

.game-data div {
  transform: skew(10deg);
}

.game-data__opponent {
  font-weight: bold;
  padding: 0.3rem;
}
