.stat-display-card {
    border: 1px solid;
    max-width: fit-content;
    /* top right bottom left */
    margin: 1rem 1rem 0 auto;
    padding: 0.5rem;
    border: 1px outset rgb(230, 229, 229);
}

.stat-display {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    max-width: fit-content;
}